* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0a0a0a;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  user-select: none;
  -webkit-user-select: none;
  overscroll-behavior: none;
}
  
#root {
  width: 100%;
  height: 100%;
}


.game-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
